# Kerberos (QE-INFRA)
KERBEROS_REALM=QE-INFRA-AD.CLOUDERA.COM
KERBEROS_PRINCIPAL=systest@QE-INFRA-AD.CLOUDERA.COM
KERBEROS_KEYTAB=/cdep/keytabs/systest.keytab
SPARK_YARN_PRINCIPAL=systest@QE-INFRA-AD.CLOUDERA.COM
SPARK_YARN_KEYTAB=/cdep/keytabs/systest.keytab

# Ozone
OZONE_SERVICE_ID=ozone1784520717
OZONE_VOLUME=vol1
OZONE_BUCKET=bucket1
WAREHOUSE_OFS=ofs://ozone1784520717/vol1/bucket1/warehouse

# Hive Metastore / JDBC
HMS_URI=thrift://REPLACE_HMS_HOST:9083
HIVE_SERVER2_JDBC=jdbc:hive2://REPLACE_HS2_HOST:10000/default;principal=hive/_HOST@QE-INFRA-AD.CLOUDERA.COM

# Impala
IMPALA_DAEMON=REPLACE_IMPALA_HOST:21000

# Lab
LAB_DATABASE=iceberg_lab
ICEBERG_CATALOG=hive_prod
